* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48;
}

.gap-20{
  gap: 8;
}

.gap-0{
  gap: 0;
}

.justify-between {
  justify-content: space-between;
}

.justify-space-around{
    justify-content: space-around;
}

.justify-start{
    justify-content: start;
}

.flex-wrap {
    flex-wrap: wrap;
}

.logo {
  width: 120px;
}

header {
  margin: 5px 16px;
  padding: 2px 16px;
}

ul {
  list-style: none;
}

.food-list-container{
  margin: 32px;
}

.food-card {
  display: inline-block;
  margin: 20px 12px;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 8px;
}

hr{
  margin-top: 6px;
}

.food-card:hover {
  border: 1px solid rgb(190, 189, 189);
}

.food-img {
  width: 220px;
}

.hotel-name {
  font-size: 16px;
  font-weight: 600;
  margin-block: 5px;
}

.food-description {
  font-size: 14px;
  margin-block: 4px;
}

.rating {
  font-size: 14px;
  margin-block: 4px;
  background-color: rgba(91, 167, 15, 0.986);
  padding: 2px 7px;
  display: inline-block;
  font-weight: 600;
  color: #ffffff;
  border-radius: 4px;
}

.search-bar {
  padding: 6px ;
  width: 30%;
  border: 1px solid #7e7e7e;
  outline: none;
  border-radius: 4px 0px 0px 4px;
}

.button {
  padding: 6px 26px;
  border: 1px solid transparent;
  background: #ffe139;
  border-radius: 0px 4px 4px 0px;
  font-weight: 700;
}
